body{
	padding: 0;
	margin: 0;
	background-color: #f5f5f5;
    font-size: 2em;
    /*font-family: "Trebuchet MS", Helvetica, sans-serif; */
    font-family: 'Lato', sans-serif;	
    line-height: 1.5;
    margin:auto;
    padding: 0;
    height: 100%;
    color: #000;
}
#content{
	max-height: 100%;
	padding: 0px;
}
nav{
	width: 100%;
    position: fixed;
    background-color: #420001;
    margin: auto;
    text-align: center;
    z-index: 1;
/*    top: 0;
    left: 0; */
}
nav a{
    display: inline-block;
    color: #fff;
    height: 80px;
    line-height: 80px;
    margin: 0 auto;
    padding: 0 2%;
    text-decoration: none;
}
#tabs{
	width: 60%;
	float: right;
	padding: 0 2%;
}
#tabs a{
	float: right;
	padding: 0 3%;
	text-decoration: none;
}
#tabs a:hover{
	background-color: #510102;
	color: #fff;
}
#icon{
	width: 30%;
	float: left;
	padding: 0 3%;
}
#gcc_icon{
	height: 40%;
	padding: auto 0px;
}
#icon a{
	float: left;
}
.section{
	width: 100%;
	margin: none;
	padding: 90px 6%;
	min-height: 100vh;
}
#top{
	background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.35), 
      rgba(0, 0, 0, 0.35)
    ),
    url("../images/gcc-temp-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	padding-top: 0;
	background-attachment: fixed;
}
#main_title{
	text-align: center;
	font-size: 6em;
	color: #fff;
	margin-top: 15%;
}
#about_us{
	background-color: red;
}
#our_members{
	background-color: #f0f0f0;
	line-height: .8;

}
#member_list{
	text-align: center;
}
.member_profile{
	padding: 20px 0px 15px 0px;
}
.member_headshot{
	width: 160px;
	border-radius: 50%;
}
.member_headshot:hover{
	border-width: 1px;
	border-style: solid;
}
#companies{
	background-color: green;
}
#apply{
	background-color: yellow;
}
#contact_us{
	background-color: brown;
}
footer{
	width: 100%;
	margin: none;
	height: 4.5em;
	background-color: #420001;
	text-align: center;
}
.footer_image{
	margin: 1.2%;
	max-height: 2em;
/*	border-radius: .5em;
	background-color: #fff;
	border-color: #000; 8?

}
@media screen and (min-width: ) and (max-width: ){

}